services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: task_manager_api
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    ports:
      - "3307:3306"
    volumes:
      - symfonyTest:/var/lib/mysql
    networks:
      - symfony_network
    restart: always

  phpmyadmin:
    image: phpmyadmin:5.2
    container_name: task-manager-phpmyadmin
    depends_on:
      - mysql
    environment: 
      PMA_HOST: mysql
      PMA_USER: symfony
      PMA_PASSWORD: symfony
    ports:
      - "8888:80"
    networks:
      - symfony_network
    restart: always
  
  php:
    build: .
    container_name: task-manager-php
    volumes:
      - .:/var/www/html
    networks:
      - symfony_network

  nginx:
    image: nginx:alpine
    container_name: symfony_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - symfony_network
    depends_on:
      - php


volumes:
  symfonyTest:

networks:
  symfony_network:
    driver: bridge